/* --- LeafMapコンポーネント用のスタイル --- */

.leafmap-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* .leafmap-header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 60px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 20px;
  box-sizing: border-box;

  pointer-events: none;
}

.leafmap-header > * {
  pointer-events: auto;
} */


.header-button-group {
  display: flex;
  gap: 10px;
}

/* .btn-header {
  padding: 8px 16px;
  font-size: 0.9em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.btn-back {
  position: relative;
  left: 3%;
  padding: 8px 16px;
  font-size: 0.9em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.btn-header:hover, .btn-back:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* Leafletのコンテナが正しく表示されるように */
.leaflet-container {
  width: 100%;
  height: 100%;
}


/* --- Floor Selector --- */
.floor-selector {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background: transparent;
  box-shadow: none;
}


.floor-btn {
  width: 50px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px 0;
  font-size: 14px;
  transition: background 0.2s;
}

.floor-btn:hover {
  background: #ddd;
}

.floor-btn.active {
  background: #11237a; /* 濃い青 */
  color: white;
}

.danger {
  background-color: #dc3545;
  color: white;
}