.event-select-screen {
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      rgba(0,0,0,0.35),
      rgba(0,0,0,0.35)
    ),
    url("/images/main_background.svg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.title-container h1 {
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  margin: 0 0 30px 0;
  text-align: center;
}

.subtitle {
  font-size: 1.1em;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 600px;
}

.event-button {
  padding: 20px 50px;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  background-color: lightsalmon;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .event-button {
    font-size: 1.4em;
  }
}

.event-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.25);
}

.debug-button {
  padding: 10px 20px;
  font-size: 0.5em;
  color: #e58c6a;
  background-color: gray;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
