/* --- グローバルスタイル --- */
/* アプリケーション全体の背景色やフォントファミリーを設定 */
body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #f0f2f5;
}

/* 各画面コンポーネントのルート要素に適用される基本クラス。
  画面全体に広がり、中身を中央に配置するFLEXBOXの基本設定。
*/
.screen-general {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* 画面からはみ出した要素を隠す */
  box-sizing: border-box; /* paddingやborderをwidth/heightに含める */
}

